.ffpformbuild {
    display: block;
    padding: 0px;
}

.ffpformbuild__field {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: transparent;
    height: 65px;
}

.ffpformbuild__field > input {
    font-size: 12pt;
    display: block;
    width: 100%;
    padding: 0px 18px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    z-index: -10;
    opacity: 0;
}
.ffpformbuild__field > label {
    left: 0px;
    top: 0px;
    position: absolute;
    transform: translateX(18px) translateY(25px);
    font-size: 12pt;
    color: #868686;
    transition: font-size 0.5s, transform 0.5s;
}
.ffpformbuild__field--focused {
    border-color: #333 !important;
}
.ffpformbuild__field--focused > label {
    transform: translateX(18px) translateY(10px);
    font-size: 10.5pt;
    transition: font-size 0.5s, transform 0.5s;
    color: #333 !important;
}