.ffpformbuild {
  &__field {
    $self: &;
    position: relative;

    & > input {
      box-sizing: border-box;
      font-size: 12pt;
      display: block;
      width: 100%;
      padding: 13px 18px 0 18px;
      border-radius: 4px;
      margin-bottom: 2rem;
      justify-content: center;
      border: 1px solid #ddd;
      background-color: transparent;
      height: 65px;
    }

    & > label {
      left: 0;
      top: 0;
      position: absolute;
      transform: translateX(18px) translateY(23px);
      font-size: 12pt;
      color: #868686;
      transition: font-size 0.5s, transform 0.5s;

      &#{$self}--focused {
        border-color: #333 !important;
        transform: translateX(18px) translateY(10px);
        font-size: 10.5pt;
        transition: font-size 0.5s, transform 0.5s;
        color: #333333;
      }
    }
  }
}
